<!DOCTYPE html>
<html>
    <head>
        <title>About | Ruby on Rails Tutorial App</title>
    </head>
    <body>
        <h1>About</h1>
        <p>
            What about it?
        </p>
    </body>
</html>