<!DOCTYPE html>
<html>
    <head>
        <title>Help | Ruby on Rails Tutorial App</title>
    </head>
    <body>
        <h1>Help</h1>
        <p>
            You know I need somebody!
        </p>
        <p>
            Not just anybody!
        </p>
        <p>
            You know I need someone!
        </p>
        <h2>HELP!</h2>
    </body>
</html>